@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,p
{
    font-family: arial ;
}

a
{
    font-size: 13.5px;
}

/* CSS Of header */

.Dheader
{
    background: linear-gradient(rgba(13, 13, 13, 0.3), rgba(13, 13, 13, 0.3)) , url(../images/legume.jpg);
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav
{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    height: 100px;
}

.title
{
    display: flex;
    margin-left: 20%;
    font-family: 'Anton' ;
    font-size: 25px;
}

.agro
{
    width: 62px;
    height: 50px;
    background-color: #45856b;
    padding-left: 4px;
}

.agro h1
{
    color: white;
}

.links
{
    margin-right: 15%;
}

.links ul
{
    display: flex;
    list-style: none;
}

.links ul li
{
    margin-right: 25px;
}

.links ul li a
{
    text-decoration: none;
    color: white;
}

.dropbtn
{
    background-color: transparent;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropdown
{
    position: relative;
    display: inline-block;
}
  
.dropdown-content
{
    display: none;
    position: absolute;
    background-color: #333333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover
{
    background-color: #f1f1f1
}
  
.dropdown:hover .dropdown-content
{
    display: block;
}
  
.dropdown:hover .dropbtn
{

}

.textHeader
{
    position: relative;
    top: 30%;
    text-align: center;
    color: white;
}

.textHeader h1
{
    padding-bottom: 15px;
}

.farmer
{
    font-family: 'Roboto' ;
    font-size: 40px;
}

.feed
{
    
    font-family: arial ;
    font-size: 55px;
    font-weight: bolder;
}

.textHeader p
{
    font-size: 20px;
}
