*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  Box content */

.Nbox{
    width: 100%;
    min-height: 100vh;

}

/* first bloc */

.Nabout{
    width: 60%;
    min-height: 370px;
    margin-left: 18%;
    display: flex;
    justify-content: space-between;
}

/* card1 */

.Naboutcard1{
    width: 600px;
    min-height: 370px;
}

.Naboutcard1 p{
    font-size: 17px;
    padding: 15px 0;
    color: #939393;
}

.Nborder{
    border-bottom: 1px solid #ccc;  
    padding-top: 20px;
}

.Naboutcard1 h2{
    color: #262626;
    padding-top: 15px;
    font-weight: bold;
}

.Naboutcard1 h4{
    color: #4a876e;
    padding-top: 15px;
    font-weight: bold;
}

/* svg */

.Nsvg{
    display: flex;
    margin-top: 40px;
}

.Nicon img{
    width: 70px;
    min-height: 70px;
}

.Nsvg1{
    display: flex;
}

.Nsvg2{
    display: flex;
}

.Nsvg h3{
    margin-top: 30px;
    color: #262626;
    margin-left: 15px;
}

/* cards 2 */

.Naboutcard2 img{
    width: 600px;
    min-height: 370px;
}

/* second bloc */

.Nproducts{
    width: 60%;
    min-height: 600px;
    margin-left: 18%;
    margin-top: 60px;
}

.Nproducts span{
    font-weight: bolder;
}

.Np{
    font-size: 30px;
    color: #262626;
    text-align: center;
    padding-top: 30px;
}

.Np2 p{
    text-align: center;
    font-size: 20px;
    padding: 5px 0;
    color: #939393;
}

.Ntitre{
    width: 700px;
    margin-left: 240px;
}

/* second part cards */

.Ncards{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 100%;
    margin-top: 20px;
    padding-top: 25px;
}

.desc2{
    color: #f1cc66;
}

.desc3, .desc1 {
    color: #46856c;
}

.Nillus img{
    width: 380px;
    height: 230px;
}

.Ndescrip p{
    margin-top: 15px;
    font-size: 20px;
    padding: 5px 0;
    color: #939393;
}

.Ndescrip a{
    margin-top: 10px;
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.Ndescrip{
    width: 380px;
    height: 200px;
    background-color: white;
    margin-top:-10px ;
    padding: 30px;
}

.Ndescrip h6{
    margin-top: 10px;
}

.Ncards1, .Ncards2, .Ncards3{
    box-shadow:2px 1px 12px 0px #ccc;
}





